.projectContainer {
  border: 1px solid yellow;
  width: 90%;
  height: 80vh;
  margin: auto;
  display: flex;
}

.title {
  display: flex;
  flex-flow: column;
  border: 1px solid white;
  height: 100%;
  width: 50%;
  text-align: center;
  color: white;
}

.content {
  height: 100%;
  width: 50%;
  padding: 5px;
  color: white;
  align-items: center;
}

.title img {
  max-width: 100%;
  max-height: auto;
}