.edge {
  position: fixed;
  height: 100%;
  width: 40px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: #DDD;
  font-weight: bold;
  transition: 1s all;
}

.edge p {
  margin: 8px 10px;
}

.about {
}

.contact {
  left: calc(100% - 40px);
  align-items: flex-end;
}

