.edge {
  position: absolute;
  display: flex;
  justify-content: center;
  color: #ccc;
  font-weight: bold;
  transition: 1s all;
  z-index: 10;
}

.tab {
  min-width: 40px;
  background-color: rgb(17, 0, 34);
  background-color: rgba(17, 0, 34, .92);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edge p {
  margin: 8px 10px;
}

.about, .contact {
  height: 100vh;
  width: 40px;
  flex-flow: column;
}

.about {
  top: 0;
  left: calc(100% - 40px);
}

.contact {
  top: 0;
  left: 0;
  align-items: flex-end;
}

.projects, .top {
  height: 40px;
  width: 100%;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.projects {
  top: calc(100% - 40px);
}

.about .tab {
  border-radius: 0 20px 20px 0;
  flex-flow: column;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}

.contact .tab {
  border-radius: 20px 0 0 20px;
  flex-flow: column;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}

.top .tab {
  border-radius: 0 0 20px 20px;
  margin-top: -5px;
  padding: 0 10px;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
}

.projects .tab {
  border-radius: 20px 20px 0 0;
  margin-bottom: -5px;
  padding: 0 10px;
  align-items: flex-end;
  border-right: 1px solid #333;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
}